**.png
**pdf
**jpg
**tar
**zip
**json
**h5
**.weights
**PNG
**jpeg
**tex
/darkflow

/ui

/custom_dataset
/custom_dataset1
/dataset
/yad2k
/scImages
/node_modules
/images
/lpDataset1line
/ckpt
/built_graph
/alphanumericDataset
/bin
/error.log
/Build
/images
/imagessc